
.links{
    display: flex;
    align-items: center;
    gap: 10px;
}



.menuIcon{
    display: none;
    color: #ffffff; 
}
.mobilelinks{
    display: none;
}

.log{
    display: none;
}
.logout{
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    cursor: pointer;
    color: var(--nav);
    border: none;
}

.logout:hover{
    background-color: #ffffff;
}

@media(max-width:760px){
    .links{
        display: none;
    }

    .btn{
        display: none;
    }

    .menuButton{
        display: block;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
    }

.mobilelinks{
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    height: calc(100vh- 100px);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.mobilelinks button{
    margin-bottom: 10px;
    border-radius: 10px;

}

.log{
    display: flex;
    flex-direction: row;
    gap:10px
}
}
