.container{
    display: flex;
    /* flex-direction: column; */
    margin-top: 120px;
    justify-content: center;
    align-items: center; 
    /* gap: 15px; */
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* CSS */
.messageBox {
    width:100%;
    margin-top: -75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  }
  
  .risk{
    color: #e02b49;
  }

  .norisk{
    color:#14884e;
  }

  .checkbtn{
    padding: 8px 16px;
    margin-bottom: 5px;
    background-color:var(--nav);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  