.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
}

.formContainer {
    background-color: var(--box);
    width: 300px; 
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

.form{
display: flex;
flex-direction: column;
gap: 20px;
max-height: 250px;
overflow-y: scroll;
}
.form::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }

.form input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--input);
    color: var(--boxtext);
}

.form input::placeholder {
    color: #555454; 
  }

 
  .form input[type='number']::-webkit-inner-spin-button,
  .form input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color:var(--boxtext)
}

.line{
    margin-bottom: 10px;
}

.form button{
    padding: 20px;
    background-color: var(--nav);
    color: var(--btntext);
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media(max-width:768px){
    .container{
        flex-direction:column;
    }
}

