.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}

.formContainer {
  background-color: var(--box);
  width: 300px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--input);
  color: var(--boxtext);
}

.form input::placeholder {
  color: #555454;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: var(--boxtext);
}

/* .form button{
    padding: 15px;
    background-color: var(--nav);
    color: var(--btntext);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
.unclick {
  padding: 15px;
  background-color: var(--nav);
  color: var(--btntext);
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clicked {
    background-color: var(--nav);
  padding: 15px;
  opacity: 0.5; 
  color: var(--btntext);
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.forgot {
  color: #888a8a;
}

.forgot:hover {
  text-decoration: underline;
  color: var(--bg);
  cursor: pointer;
}

.input-container {
  position: relative;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: var(--input);
  color: var(--boxtext);
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
